@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: customSign;
  src: url(./assets/dark_falcon/DarkFalconRegular.ttf);
}

* {
  font-family: monospace, serif;
}

.custom {
  font-family: customSign, serif;
  
}
.custom-bg {
  background: #bdc3c7; 
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7); 

}
.cust {
  display: flex;
  padding: 2rem;
}
.cust-bg {
  background-color: rgba(0, 0, 0, .35);
  backdrop-filter: blur(5px);
}
.form-web input, .form-web textarea {
 padding: 4px 16px;
 border-bottom: .5px solid #020202;
 box-shadow: 1px 2px 2px 2px #020202;
}
.custom-btn {
  border: .5px solid #020202;
  width: max-content;
  padding: 8px 16px;
  margin: auto;
}
.custom-btn:hover {
  color: #f2fff2;
  background-color: #020202;
}
.custom-btn:active {
  box-shadow: 1px 1.5px 2px 1px #020202;
}